<div class="form-container" *ngIf="(tvForm$ | async) as tvForm; else loadingSpinnerTemplate">
  <form [formGroup]="tvForm" (submit)="handleEdit(tvForm)" class="custom-form">
    <h3 class="align-self-center">Промени телевизор</h3>
    <mat-form-field>
      <input matInput formControlName="brand" placeholder="Марка" type="text">
      <mat-error *ngIf="tvForm.controls.brand.touched && tvForm.controls.brand.errors?.required">
        Полето е задължително!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="model" placeholder="Модел" type="text">
      <mat-error *ngIf="tvForm.controls.model.touched && tvForm.controls.model.errors?.required">
        Полето е задължително!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Описание" type="text" rows="5">
        </textarea>
      <mat-error *ngIf="tvForm.controls.description.touched && tvForm.controls.description.errors?.required">
        Полето е задължително!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price" placeholder="Цена" type="number" min="0">
      <!--<mat-hint align="end">{{formControls.email.value?.length || 0}}/10</mat-hint>-->
      <mat-error *ngIf="tvForm.controls.price.touched && tvForm.controls.model.price?.required">
        Полето е задължително!
      </mat-error>
    </mat-form-field>
    <p>
      <app-file-upload (fileListChanged)="selectedPictures = $event"></app-file-upload>
    </p>
    <mat-spinner class="align-self-center" diameter="20" *ngIf="currentlyUploading"></mat-spinner>
    <button mat-raised-button color="primary" type="submit" [disabled]="tvForm.invalid || currentlyUploading">
      Промени
    </button>
  </form>
</div>

<ng-template #loadingSpinnerTemplate>
  <div class="spinner-container">
    <mat-spinner class="spinner-center"></mat-spinner>
  </div>
</ng-template>
