.custom-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.custom-form > * {
  max-width: 200px;
}

.form-container {
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}

.align-self-center {
  align-self: center;
}
